.container {
    /*DISPLAY FLEX KANET BETKHALY EL HAGAT TAHT BA3DAHA*/
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    /*display: center;*/
    margin-bottom: 5rem;
}

.buttons {
    /*display: inline-block;*/
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
    margin-right: 2rem;
}

.buttons:hover {
    transform: scale(1.1);
}

.totalCompanies {
    margin-bottom: 10rem;
}

#no_of_companies {
    margin-left: 7rem;
}

#list {
    display: none;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}