.company{
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s linear;
}
.cbox-container{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cbox-container .cbox{
    width: 700px;
    background: #2c3e50;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px #0007;
    display: flex;
    align-items: center;
    margin: 20px;
}
.cbox-container .cbox .cimage{
    text-align: center;
    padding: 60px 0;
    width: 260px;
    background: #0005;
    clip-path: polygon(0 0, 80% 0, 100% 15%, 100% 85%, 76% 100%, 0 100%);
}
.cbox-container .cbox .cimage img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px coral;
    object-fit: cover;
}
.cbox-container .cbox .cContent{
    display: flex;
    padding: 0 10px;
}
.cbox-container .cbox .cContent .cicons{
    background: #fff;
    margin: 0 10px;
}
.cbox-container .cbox .cContent .cicons i{
    font-size: 20px;
    margin: 10px 13px;
    color: coral;
    display: block;
}
.cbox-container .cbox .cContent .cicons i:first-child{
    margin-bottom: 70px;
}
.cbox-container .cbox .cContent .cinfo .ctitle{
    font-size: 29px;
    color: #fff;
    padding: 5px 0;
    text-transform: capitalize;
}
.cbox-container .cbox .cContent .cinfo .cpost{
    display: block;
    font-size: 18px;
    color: #ccc;
    padding-bottom: 32px;
}
.cbox-container .cbox .cContent .cinfo h4{
    display: block;
    color: #aaa;
    padding: 6px 0;
}
.cbox-container .cbox .cContent .cinfo h4:hover{
    color: #fff;
}
